name: 'publish_ver'

on:
  push:
    branches: ['main']

jobs:
  publish_ver:
    if: contains(github.event.head_commit.message, 'bump:')
    runs-on: 'ubuntu-latest'
    steps:
    # Setup
    - uses: 'actions/checkout@v2'
    - uses: 'actions/cache@v2'
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    # Create new version branch
    - run: git switch -c ${{ github.ref }}
    # Push HEAD to new version branch
    - run: git push -u origin ${{ github.ref }}
